@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    max-width: 1110px;
    margin: 0rem auto;
}
header{
    padding: 5px 10px 0 10px;
    border-radius: 20px;
    background-color: rgb(236, 232, 235);
}
.menu-icon{
    display: none;
    font-size: 1.25rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.navbar h4{
    font-family: 'Times New Roman';
    font-size: 1.5rem;
    font-size: 3rem;
    text-shadow: 7px 5px 15px rgb(37, 35, 35);
    font-weight: 900;
}
.navbar ul{
    display: flex;
    gap: 2.2rem;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    padding: 5px 10px;
    transition: 0.2s;
}
.navbar ul a{
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}
.cart button{
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: rgb(210, 13, 236);
    padding: 8px 20px;
    transition: 0.2s;
}
@media screen and (max-width:570px) {
    nav{
        padding: 10px;
        position: sticky;
    }
    .menu-icon{
        display: inline-block;
    }
    .navbar ul li{
        display: none;
    }
    .cart{
        display: inline-block;
    }
    .cart button{
        padding: 5px 10px;
    }
}

/* banner section starts */
.hero{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.hero-content{
    margin: 1rem 0 1rem 2rem;
}
.hero-content p{
    max-width: 505px;
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
}
.hero-content button{
    padding: 10px 20px;
    background: rgb(210, 13, 236);
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}
.btn-icon{
    font-size: 1.5rem;
}
.banner-img{
    background: url(../images/pngtree-purple-ring-smoke-effect-png-image_2306041-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-img img{
    width: 90%;
    margin-left: 40px;
    margin-bottom: 30px;
    transition: 0.2s;
}
.banner-img img:Hover{
    transform: scale(1.1);
    filter: drop-shadow(10px 10px 50px  rgb(210, 13, 236));
}
.placement{
    display: inline-block;
    margin-bottom: 10px;
    color: rgb(210, 13, 236);
    font-size: 2.8rem;
    font-weight: 800;
}
.btn-container{
    display: flex;
    gap: 10px;
    margin-top: 20px;}
.btn-container a{
    text-decoration: none;
    color: white;
    }
@media screen and (max-width:570px) {
    .hero{
        flex-direction: column;
        padding: 0 20px;
        text-align: center;
    }
    .placement{
        font-size: 2rem;
        margin: 0;
    }
    .hero-content{
        margin: 0.5rem 0;
    }
    header, main{
        padding: 0px;
    }
    .banner-img img{
        margin-left: 20px;
    }
    .hero-content button{
        padding: 5px 10px;
    }
    .btn-container{
        justify-content: center ;
    }
}


.about{
    border-radius: 20px;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0.904),rgba(7, 2, 17, 0.774) 100%), url(../images/Rajshahi_University_Administration_Building.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.about h1{
    padding: 10px;
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(131, 5, 248);
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.about-img img{
    width: 80%;
    filter: drop-shadow(10px 10px 50px  rgb(210, 13, 236));
    transition: 0.2s;
}
.about-img img:hover{
    transform: scale(1.02);
    filter: drop-shadow(10px 10px 50px  rgb(50, 204, 231));
}
.about-content{
    width: 50%;
}
.about-content p{
    font-size: 2rem;
}
.about-content .name{
    font-size: 3.9rem;
    color: rgb(210, 13, 236);
    font-family: 'Times New Roman', Times, serif;
}
.about-content span{
    color: rgb(210, 13, 236);
    font-size: 2.6rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width:570px){
    .about{
        padding: 5px;
    }
    .about-container{
        flex-direction: column-reverse;
    }
    .about-content{
        width: 100%;
        text-align: start;
    }
    .start{
        height: 90px;
        text-align: center;
        overflow-y: scroll;
    }
    .about-img img{
        width: 100%;
    }
}
.education{
    background: rgb(216, 203, 212)  ;
    border-radius: 10px;
    padding: 2px 0;
}
.education h1{
    margin-top: 60px;
    margin-bottom: -20px;
    text-align: center;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    color: rgb(131, 5, 248);
}
.edu-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.edu h2{
    font-size: 1.6rem;
}
.edu-left, .edu-right{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edu{
    background-color: white;
    margin: 30px 0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 20px 8px rgba(0, 0, 0, 0.678);
}
@media (max-width:570px){
    .edu-container{
        flex-direction: column;
        margin: 5px 10px;
    }
    .edu-left, .edu-right{
        width: 99%;
    }
}

footer{
    border-radius: 14px;
    background: rgb(7, 2, 17);
    }
    .foot-container{
        max-width: 1100px;
        margin: 0px auto;
    }
    .address{
        padding: 40px 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10rem;
    }
    .home, .cellphone{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0%;
    }
    .call, .web{
        text-align: left;
        transition: 0.2s;
    }
    .web a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .social{
        /* width: 160px; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    .social a{
        width: fit-content;
        border-radius: 10px;
        margin: 40px 0;
        transition: 0.2s;
    }
    .foot{
        padding-bottom: 30px;
        text-align: center;
        margin-top: 30px;
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
    }
    #fb, #insta, #in, #x{
        
        padding: 0px;
        color: white;
        font-size: 3rem;
    }
@media (max-width:570px) {
    .address{
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    
    .call, .web, .home{
        text-align: center;
    }
}
button:hover{
    transform: scale(1.031);
    background-color: rgb(255, 255, 255);
    color: rgb(210, 13, 236);
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.452);
}
li:hover{
    background-color: rgba(128, 128, 128, 0.281);
    box-shadow: 2px 2px 10px 10px rgba(70, 69, 69, 0.308);
    border-radius: 20px;
    transform: scale(1.021);
}
.social a:hover{
    transform: scale(1.1);
    background: rgba(46, 46, 46, 0.856);
    box-shadow: 1px 1px 10px 5px rgba(46, 46, 46, 0.822);
}
.call:hover , .web:hover{
    border-radius: 10px;
    background: rgba(46, 46, 46, 0.856);
    box-shadow: 1px 1px 10px 5px rgba(46, 46, 46, 0.822);
    transform: scale(1.1);
}